- page_title _('Start your Free Ultimate and GitLab Duo Enterprise Trial')

- content_for :page_specific_javascripts do
  = render 'layouts/google_tag_manager_head'
  = render 'layouts/one_trust'
= render 'layouts/google_tag_manager_body'

.row.gl-items-center
  .col-md-6.m-sm-6
    %h2.gl-pb-5.gl-my-0
      = _('Start your Free Ultimate and GitLab Duo Enterprise Trial')

    %p.gl-text-gray-700.gl-text-lg
    = s_('Trial|Your combined Ultimate and GitLab Duo Enterprise trial lasts for 60 days. We just need some additional information to activate it.')

    = yield :before_form

    #js-trial-create-lead-form{ data: create_lead_form_data }

  .col-md-4.trial-illustration
    = image_tag 'illustrations/saas-trial-illustration.svg', alt: '', class: 'gl-hidden md:gl-inline gl-w-full'
