/**
  Please note: These are deprecated in favor of the Tailwind CSS utilities.
  Check https://gitlab-org.gitlab.io/frontend/tailwind-documentation
  to see the available utility classes. If you cannot find the class you need,
  see https://docs.gitlab.com/ee/development/fe_guide/style/scss.html#where-should-you-put-new-utility-classes.
**/

$type-scale: (
  1: 12px,
  2: 14px,
  4: 20px,
);

@each $index, $size in $type-scale {
  #{'.text-#{$index}'} {
    font-size: $size;
  }
}

/*
 * Why another sizing scale???
 * Great question, friend!
 * This size scale is a "backport" of the equivalent set of "named" sizes
 * (e.g. `xl` versus `70`) that came from the following design document as of 2019-10-23:
 *
 * https://gitlab-org.gitlab.io/gitlab-design/hosted/design-gitlab-specs/forms-spec-previews/
 *
 * (See `input-` items at the bottom)
 *
 * The presumption here is that these sizes will be standardized in GitLab UI and thus will be
 * broadly useful here in the GitLab product when not using the GitLab UI components.
 */
 $size-scale: (
  's': #{20 * $grid-size},
);

@each $index, $size in $size-scale {
  #{'.mw-#{$index}'} {
    max-width: $size;
  }
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-top-app-header {
  top: $calc-application-header-height;
}

// This CSS Class definition will be removed in
// https://gitlab.com/gitlab-org/gitlab/-/issues/479423.
// More context: https://gitlab.com/gitlab-org/gitlab/-/issues/482689#note_2200591361
// stylelint-disable-next-line gitlab/no-gl-class
.gl-h-200\! { height: px-to-rem($grid-size * 25) !important; }

// This utility is used to force the z-index to match that of dropdown menu's
// stylelint-disable-next-line gitlab/no-gl-class
.gl-z-dropdown-menu\! {
  z-index: $zindex-dropdown-menu !important;
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-last-of-type-border-b-0:last-of-type {
  border-bottom-width: 0;
}
