- page_title text_page_title

.gl-grid.gl-grid-cols-1.md:gl-grid-cols-2.gl-mt-7.gl-mx-auto.gl-gap-5{ class: 'gl-w-full md:gl-w-16/20', data: { testid: 'hero-section' } }
  .gl-self-center
    = image_tag(hero_logo, class: "gl-w-full")
    %h2.gl-text-size-h1.gl-mb-5
      = hero_header_text
    .gl-flex.gl-gap-3.gl-flex-wrap.gl-flex-col.sm:gl-flex-row{ data: { testid: 'discover-header-actions' } }
      = render Pajamas::ButtonComponent.new(href: buy_now_link,
        category: :primary, variant: :confirm,
        button_options: { data: { testid: 'buy-now-top', track_action: 'click_buy_now', track_label: trial_status_cta_label } }) do
        = _('Buy now')
      .js-hand-raise-lead-trigger{ data: hand_raise_lead_data }
  = link_to hero_video, target: '_blank' do
    = image_tag(hero_thumbnail, class: 'gl-w-full gl-rounded-lg')

.gl-grid.gl-grid-cols-1.md:gl-grid-cols-2.gl-mt-7.gl-mx-auto.gl-gap-5{ class: 'gl-w-full md:gl-w-16/20', data: { testid: 'why-section' } }
  %h3.gl-heading-4.gl-mb-0.md:gl-col-start-1.md:gl-col-end-3.gl-grid
    = why_section_header_text
  = render Pajamas::CardComponent.with_collection(discover_card_collection,
    card_options: { class: 'gl-rounded-lg gl-p-2 gl-bg-default', data: { testid: 'why-entry' } },
    body_options: { class: 'gl-pt-0' },
    header_options: { class: 'gl-bg-default gl-py-4 gl-font-bold gl-border-b-0' })

.gl-grid.gl-grid-cols-1.md:gl-grid-cols-2.lg:gl-grid-cols-4.gl-mt-7.gl-mx-auto.gl-gap-5{ class: 'gl-w-full md:gl-w-16/20', data: { testid: 'core-feature-1' } }
  %h3.gl-heading-4.gl-mb-0.md:gl-col-start-1.md:gl-col-end-3.lg:gl-col-end-5.gl-grid
    = core_feature_one_header_text
  = render Pajamas::CardComponent.with_collection(core_section_one_card_collection,
    card_options: { class: 'gl-rounded-lg gl-p-2 gl-h-full gl-flex gl-flex-col gl-bg-default', data: { testid: 'core-1-entry' } },
    header_options: { class: 'gl-bg-default gl-py-4 gl-font-bold gl-border-b-0' },
    body_options: { class: 'gl-px-5 gl-py-4 gl-pt-0 gl-grow' },
    footer_options: { class: 'gl-bg-default gl-border-0 gl-px-5 gl-py-4 gl-mt-auto' })

- if core_section_two_card_collection.present?
  .gl-grid.gl-grid-cols-1.md:gl-grid-cols-2.lg:gl-grid-cols-4.gl-mt-7.gl-mx-auto.gl-gap-5{ class: 'gl-w-full md:gl-w-16/20', data: { testid: 'core-feature-2' } }
    - if core_feature_two_header_text.present?
      %h3.gl-heading-4.gl-mb-0.md:gl-col-start-1.md:gl-col-end-3.lg:gl-col-end-5.gl-grid
        = core_feature_two_header_text
    = render Pajamas::CardComponent.with_collection(core_section_two_card_collection,
      card_options: { class: 'gl-rounded-lg gl-p-2 gl-h-full gl-flex gl-flex-col gl-bg-default', data: { testid: 'core-2-entry' } },
      header_options: { class: 'gl-bg-default gl-py-4 gl-font-bold gl-border-b-0' },
      body_options: { class: 'gl-px-5 gl-py-4 gl-pt-0 gl-grow' },
      footer_options: { class: 'gl-bg-default gl-border-0 gl-px-5 gl-py-4 gl-mt-auto' })

.gl-mt-7.gl-mx-auto{ class: 'md:gl-w-16/20', data: { testid: 'discover-footer-actions' } }
  = render Pajamas::ButtonComponent.new(href: buy_now_link,
    category: :primary, variant: :confirm,
    button_options: { class: 'gl-w-full gl-mb-3 sm:gl-w-auto sm:gl-mr-3 sm:gl-mb-0',
    data: { testid: 'buy-now-bottom', track_action: 'click_buy_now', track_label: trial_status_cta_label } }) do
    = _('Buy now')
  .js-hand-raise-lead-trigger{ data: hand_raise_lead_data }
